# Email Configuration (Mailtrap Sandbox)
MAIL_USERNAME=your_mailtrap_username_here
MAIL_PASSWORD=your_mailtrap_password_here

# ReCaptcha Configuration
RECAPTCHA_SITEKEY=your_recaptcha_sitekey_here
RECAPTCHA_SECRETKEY=your_recaptcha_secretkey_here
